h1{
    color : rgb(128, 216, 112)
}
.card{
 border-style: solid;
 border-width: 3px;
 border-color: black;
 width: 350px;
 border-radius: 20px;
 overflow: hidden;
 font-family: Times New Roman, 'Courier New', Courier, monospace;

 text-align: center;


 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;


 background-color: white;
}


.card img{
 width: 100%;
}


body{
 background-color: antiquewhite;
 margin: 0px;
}


.card button{
 width: 70%;
 border-radius: 20px;
 padding: 10px;
 margin-bottom: 10px;
 hover{
  background-color: rgb(128, 216, 112);
  color: rgb(0, 0, 0);
 }
 cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: rgb(243, 247, 242);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-family: Times New Roman;
  padding-right: 20px;
  border : 2px solid black;
}
.navbar a{
  text-decoration: none;
  margin-right: 24px;
  color: grey;

}
.navbar a:hover{
  color: blue;
  text-decoration: underline;
  
}
